.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
    box-shadow: 4px 4px 10px rgb(2, 0, 0),
    -4px -4px 10px rgba(17, 1, 1, 0.4),
    inset -4px -4px 10px rgba(15, 12, 12, 0.4),
    inset 4px 4px 10px rgba(139, 107, 2, 0.4);
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgb(2, 0, 0),
    -4px -4px 10px rgba(17, 1, 1, 0.4),
    inset -4px -4px 10px rgba(15, 12, 12, 0.4),
    inset 4px 4px 10px rgba(139, 107, 2, 0.4);
  border: none;
  outline: none;
  background-color: #5c4b09;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.c-player--controls .play-btn:hover {
  color: #8a710d;
  background-color: inherit;
}

.c-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.slider-control{
  width: 300px;       
  margin-left: 173px;
}

.Speaker{
  margin-left: 120px;
  margin-bottom: -40px;
  color: #8a710d;
}
